.white { background: white; color: black; }
.dark { background: #111318; color: white; }

@media (prefers-color-scheme: light){
  body{
       color: black;
       background: white;
  }
}

body {
       color: white;
       background: #111318;
}

.wholepage{
      background: #2f3946;
      max-width: 750px;
      padding-left:10px;
      padding-right:10px;
      margin-left: auto;
      margin-right: auto;
}

.button{
      position: absolute;
      right: 0px;
      padding: 10px;
} 
.links{
      width: 40%;
      margin: auto;
      text-align:center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left:0px;
}

.librepay{
      display:grid;
      grid-gap: 20px;
      place-items: center;
}
ul{
      list-style-type: none; 
}

ul ul{
      word-wrap: break-word;
      color: orange;
}

h1{
      color: pink;
}

h1, h2, h3{
      text-align: center;
}

h1 a{
      color: pink;
      text-decoration: none;
}

a{
      color: aqua;
}

nav li{
      display: inline;
}

img{
      float: left;
      margin: 1rem;
}

.wierd{
      padding: 6px;
      text-align: left;
}

#cargo{
      color: orange;
      text-align: center;
}

#server-status-container {
      background: black;
      display: flex;
      width: 100%;
      font-family: monospace;
}

#status {
      color: #AAAAAA;
      display: block;
      letter-spacing: 0.1em;
      padding: 0.5em;
      text-align: left
}

#currently-playing {
      margin-left: auto;
      padding-right: 10px;
}
